<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
    <!-- Test for Chrome -->
    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="TestCases.LoginTestCases"/>
            <class name="TestCases.ProductsTestCase"/>
            <class name="TestCases.Addtocarttestcase"/>
        </classes>
    </test>

    <!-- Test for Firefox -->
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="TestCases.LoginTestCases"/>
            <class name="TestCases.ProductsTestCase"/>
            <class name="TestCases.Addtocarttestcase"/>
        </classes>
    </test>

    <!-- You can add more tests for other browsers (e.g., Edge) as needed -->
</suite>
